openapi: 3.2.0
info:
  title: Ultrahuman Partner (UltraSignal) User API
  description: The Ultrahuman Partner API gives approved partners read access to user-consented health metrics from the Ultrahuman Ring AIR / Ring Pro and, for users with an active M1 patch, the Ultrahuman CGM.
  version: '1.0'
  contact:
    name: Ultrahuman Partnerships
    url: https://partnerships.ultrahuman.com/
  x-endpointsModeled: true
servers:
- url: https://partner.ultrahuman.com
  description: Ultrahuman Partner API
tags:
- name: User
  description: Basic authorized-user profile information.
paths:
  /api/partners/v1/user_data/user_info:
    get:
      operationId: getUserInfo
      tags:
      - User
      summary: Get the authorized user's basic profile
      description: Returns basic profile info (user ID, time zone, etc.) for the authorized user. Requires the profile scope.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Basic user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: User not found, or the partner lacks permission for the requested data.
    Unauthorized:
      description: Missing, invalid, or expired access token.
  schemas:
    UserInfo:
      type: object
      properties:
        id:
          type: string
        timezone:
          type: string
          example: Asia/Kolkata
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token in the Authorization header.
